<% if development? %>
	<%= partial "layouts/wiki_header" %>
<% end %>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= current_page.data.title %></title>
	<!-- include normalizer -->
	<%= stylesheet_link_tag "normalize" %>
	<!-- include auto generated css -->
	<%= stylesheet_link_tag "all_cover" %>
	<!-- include auto generated javascript -->
	<%= javascript_include_tag "all" %>
</head>
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead">
          <% data.navigation.links.each do |link| %>
            <%= link_to link.title, link.url, :class => "nav-link " << is_current_page(link.url) %>
          <% end %>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <%= yield %>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% if development? %>
	<%= partial "layouts/wiki_footer" %>
<% end %>
